<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">Lokoko</a>

      <form class="form-inline" action ="/listings" method="GET">
        <div class="topnav">
           <input type="text" placeholder="Search..">
           <button type="submit" class="btn btn-outline-light" style="margin-right: 1em">Search</button>
          </div>
      </form>

      <form class="form-inline" action="/new" method="GET">
        <button type="submit" class="btn btn-outline-light">Post a New Ad</button>
      </form>

  </nav>
</header>
