<!DOCTYPE html>
<html lang="en">

<head>
  <title>Post New Listing</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <h2>Post New Listing</h2>

  <form method="POST" action="/listings">
    <div class="row spaced">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" placeholder="Enter Title">
    </div>

    <div class="row spaced">
      <label for="description">Description</label>
      <textarea type="text" name="description" class="form-control" placeholder="Enter description"></textarea>
    </div>

    <div class="row spaced">
      <label for="thumbnail-photo-url">Thumbnail Photo URL</label>
      <input type="text" name="thumbnail_photo_url" class="form-control"
        placeholder="Enter Thumbnail Photo URL"></textarea>
    </div>

    <div class="row spaced">
      <label for="cover-photo-url">Main Photo URL</label>
      <input type="text" name="main_photo_url" class="form-control" placeholder="Enter Main Photo URL"></textarea>
    </div>

    <div class="row spaced">
      <label for="price">Price: $</label>
      <input type="number" name="price" class=" form-control" placeholder="Enter Price">
    </div>

    <div class="row spaced">
      <label for="condition">Condition</label>
      <select name="condition">
        <option value="New">New</option>
        <option value="Used">Used</option>
      </select>
    </div>

    <div class="row spaced">
      <label for="category_id">Category</label>
      <select name="category_id">
        <option value="1">Cars</option>
        <option value="2">Clothing</option>
        <option value="3">Electronics</option>
        <option value="4">Furniture</option>
        <option value="5">Musical Instruments</option>
        <option value="6">Other</option>
      </select>
    </div>

    <!-- Will need to remove this once have the user id cookie setup -->
    <div class="row spaced">
      <label for="user_id">user id</label>
      <input type="number" name="user_id" class=" form-control" placeholder="user id">
    </div>

    <!-- Need to figure out how to add timestamp automatically -->
    <input type="datetime-local" name="posted_date" step="1">

    <div class="row spaced">
      <button type="submit" class="submit-button">Submit New Listing</button>
    </div>
  </form>

</body>

</html>
