.banner {
  background: #d1f0df;
  background: -webkit-linear-gradient(to right, #6e8877, #45927f, #32ad65);
  background: linear-gradient(to right, #6e8877, #45927f, #32ad65);
}

.fav-remove-button {
  background-color: rgb(255, 228, 228);
 	color: red;
 	font-size: 20px;
 	font-family: 'Courier New', Courier, monospace;
 	font-weight: 800;
 	border: none;
 	cursor: pointer;
}
