// See: https://sass-lang.com/

body {
  padding-top: 4px;
  background-color: #f0f7f4;
  background-image: url("https://www.transparenttextures.com/patterns/retro-intro.png");
  font-family: 'Roboto', sans-serif, bold;
}

.content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.row-spaced {
  width: 80%;
  padding: 0.5em;
  padding-left: 4em;
  font-family: 'Roboto', sans-serif;
}

.table {
  display: flex;
  justify-content: center;
  width: 100%;
}

table {
  width: 80%;
}

.table td {
  border-bottom: 2px;
  border-color: #000000
}

.right {
  padding-right: 0 !important;
  margin-right: 0;
  text-align: right;
}

.left {
  padding-left: 0 !important;
  width: 65%;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: 'Black Han Sans', sans-serif;
}

h3 {
  display: flex;
  justify-content: left;
  padding-left: 5em;
  font-family: 'Black Han Sans', sans-serif;
}

p {
  display: flex;
  justify-content: center;
  font-family: 'Black Han Sans', sans-serif;
}

.price-filter {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 3em;
  input {
    width: 145px;
    height: auto;
  }
  button {
    background-color: #80b69c;
  }
}

a {
  color: #3c493f;
  text-decoration: none !important;
}
a:hover { color: #66b687; }
a:visited { color: #66b68f; }

