.navbar {
  height: 120px;
  background-color: #B3BFB8;
  background-image: url("https://www.transparenttextures.com/patterns/retro-intro.png");
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: fixed !important;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Black Han Sans', sans-serif;
}

#post-new {
  background-color: #80b69c;
  width: 100%;
  font-family: 'Black Han Sans', sans-serif;
}

.search-bar {
  display: flex;
  width: 100%;
}

.search-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-links {
  display: flex;
  flex-direction: row;
  padding-right: 15px;
}

.navbar-brand {
  img {
   max-width: 70% !important;
   height: auto !important;
  }
}

h6 {
  font-family: 'Roboto', sans-serif;
  color: #3c493f
}

a.header-links {
  color: #3c493f;
  text-decoration: none !important;
}
a.header-links:hover { color: #66b687; }
a.header-links:visited { color: #66b68f; }
