.user {
border: red;
color: red;
border: solid red 0.2em;
margin:auto;
justify-content: center;
display: flex;
}

.user-table {
  border: solid red 0.2em;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 30%;
  margin: 5%;
}

.listings-table {
  border: solid red 0.2em;
  margin: 5%;

  h3 {
    justify-content: center;
  }




}

